body {
  margin: 0;
  padding: 0;
  background: url(./Imagenes/fondo_blanco.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
